<!DOCTYPE html>
<html>

	<head>
		<title>Metadata Store Manager</title>
		<link rel="stylesheet" href="./css/bootstrap.min.css" />
		<link rel="stylesheet" href="./css/bootstrap-theme.min.css" />
		<script src="./js/jquery-1.12.3.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<script src="./js/angular.min.js"></script>
		<script src="./js/mdstoremanager.js"></script>
	</head>
	
	<body ng-app="mdstoreManagerApp" ng-controller="mdstoreManagerController">
	
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Format / Layout / Interpretation</th>
					<th>Datasource</th>
					<th>Current Version</th>
					<th class="text-right">All versions</th>
					<th class="text-center">Last Update</th>
					<th class="text-right">Size</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="md in mdstores">
					<td>{{md.id}}</td>
					<td>{{md.format}} / {{md.layout}} / {{md.interpretation}}</td>
					<td>
						<span ng-if="md.datasourceName">
							{{md.datasourceName}}<br />
							<small>
								<b>id: </b>{{md.datasourceId}}
								<b>api: </b>{{md.apiId}}
							</small>
						</span>
					</td>
					<td>{{md.apiId}}</td>
					<td>{{md.currentVersion}}</td>
					<td class="text-right">{{md.numberOfVersions}}</td>
					<td class="text-center">{{md.lastUpdate}}</td>
					<td class="text-right">{{md.size}}</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>